{% extends "base.html.twig" %}

{% block topo %}
    <div class="topo">
        <img src="">
    </div>
{% endblock %}

{% block title %}Cadastro de usu치rios{% endblock %}

{# formul치rio de casdastro de usu치rio #}
{% block body %}
    <p class="msgErro">Oops! Falha ao cadastrar o usu치rio:<strong>{{ fulano }}</strong></p>
    <a href="{{ url('web_usuario_index')}}">Voltar</a>
{% endblock %}