{% extends "base.html.twig" %}

{% block topo %}
    <div class="topo">
        <img src="{{ asset('img/dio.png') }}" width="300" height="100">
    </div>
{% endblock %}

{% block title %}Cadastro de usuários{% endblock %}

{# formulário de casdastro de usuário #}
{% block body %}
    <form method="post" action="{{ url('web_usuario_salvar') }}">
        <input type="text" name="nome" placeholder="Nome"/>
        <input type="text" name="email" placeholder="E-mail"/>

        <button type="submit">Salvar</button>
    </form>
{% endblock %}